@let _loading = loading();
@let _countries = countries();

@if (_loading) {
    <p>Loading countries...</p>
} @else if (_countries && _countries.length > 0) {
    <ul>
        @for (country of _countries; track country.id) {
            <li>
                <a [routerLink]="['/countries', country.id]">{{ country.name }}</a> 
                <span (click)="toggle(country.id)">
                    {{ country.isFavorite ? '★' : '☆' }}
                </span>
            </li>
        }
    </ul>
} @else {
    <p>No countries found.</p>
}

